ul {
  display: flex;
  justify-content: center;
  padding: 1rem 0 0 0;
  background-color: white;
  box-shadow: 1px 1px 1px 1px rgba(.3,.3,.3,.3);
}

li {
  margin-right: 1rem;
}

li i {
  color: tomato;
}

li p {
  color: tomato;
}


.container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 100vw;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 10px; 
  grid-column-gap: 10px;
  
}
.containerPost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  width: 90vw;
  border-radius: 1rem;
  padding: 3rem;
  margin: 1rem;
  box-shadow: 2px 2px 2px 2px rgba(.3,.3,.3,.3);
}

.form-group {
  margin-top: .5rem;
}

.card {
  border: none;
  box-shadow: 0px 0px 2px 2px rgba(.2,.2,.2,.2);
}
.car-boy1 {
  padding: 1rem;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: .5rem;
  border-color: white;
  border-style: solid;
  border-width: 1px;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.loginForm {
  height: 40vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 2px 2px rgba(.2,.2,.2,.2);
}

.loginForm form h1 {
  padding-bottom: 2rem;
}

label {
  border-radius: 2rem;
}


.cardTop {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}


.flex {
  display: flex;
  justify-content: flex-end;
}


.restaurant {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#ctnbtn {
  background-color: white;
  border: none;
}

#cardMenuButton {
  display: flex;
}

#dtls-btn {
  background-color: white;
  border: none;
  color: red;
}

#money{
  color: green;
}

#viewMenu {
  border-style: solid;
  border-radius: 1rem;
  border-width: 2px;
  border-color: lightgray;
  background-color: whitesmoke;
  padding: 1rem;
}

@media only screen and (min-width: 768px) {
  .container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 10px; 
    grid-column-gap: 10px;
  }

}

@media only screen and (min-width: 1000px) {
  .container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 10px; 
    grid-column-gap: 10px;
  }

}