body {
  font-family: 'Poppins', sans-serif;
}

ul {
  display: flex;
  justify-content: center;
  padding: 1rem 0 0 0;
  background-color: white;
  box-shadow: 1px 1px 1px 1px rgba(.3,.3,.3,.3);
}

.nav-link a {
  color: tomato;
}

.nav-link a:hover {
  color: grey;
}


li p {
  /* color: tomato; */
  text-transform: uppercase;
  margin-top: .5rem;
}


.container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 100vw;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 10px; 
  grid-column-gap: 10px;
  
}

.containerPost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  height: fit-content;
  width: 90vw;
  border-radius: 1rem;
  padding: 3rem;
  margin: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0px 0px 2px 2px rgba(.2,.2,.2,.2);
}
.containerImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  height: fit-content;
  width: 90vw;
  border-radius: 1rem;
  margin: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0px 0px 2px 2px rgba(.2,.2,.2,.2);
}

.form-group {
  margin-top: .5rem;
}

.form-group h1 {
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.card {
  border: none;
  box-shadow: 0px 0px 2px 2px rgba(.2,.2,.2,.2);
}
.car-boy1 {
  padding: 1rem;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: .5rem;
  border-color: white;
  border-style: solid;
  border-width: 1px;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}
.outer {
  display: flex;
  flex-direction: column;
  padding-bottom: 7rem;
}

label {
  border-radius: 2rem;
}

img {
  object-fit: cover;
  border-radius: 1rem;
  padding: .1rem;
}

.cardTop {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}


.flex {
  display: flex;
  justify-content: flex-end;
}


.restaurant {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.restaurant a {
  box-shadow: inset 0 0 0 0 tomato;
  color: tomato;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
}

.restaurant a:hover {
  box-shadow: inset 180px 0 0 0 tomato;
  color: white;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  box-shadow: 0px 0px 2px 2px rgba(.2,.2,.2,.2);
}

#footerLogo {
  display: flex;
  color: tomato;
  margin-top: .5rem;
}

#footerLogo h1 {
  font-weight: bold;
  /* margin: .5rem 0 .5rem 0; */
}

#footerLogo i {
  margin-top: .35rem;
  margin-right: .3rem;
  font-size: x-large;
}

#footerTm {
  display: flex;
  font-size: 12px;
  font-weight: bold;
}

#footerTm i {
  margin-top: .2rem;
  margin-right: .3rem;
}

#ctnbtn {
  background-color: white;
  border: none;
}

#cardMenuButton {
  display: flex;
}

#dtls-btn {
  background-color: white;
  border: none;
  color: red;
}

#money{
  color: green;
}

#viewMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-radius: .6rem;
  border-width: 2px;
  border-color: lightgray;
  height: fit-content;
  box-shadow: 0px 0px .5px .5px rgba(.2,.2,.2,.2);
}
#viewMenu p {
  margin: .3rem 0 .7rem .5rem
}

#viewMenu a {
  box-shadow: inset 0 0 0 0 tomato;
  color: tomato;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
}

#viewMenu a:hover {
  box-shadow: inset 150px 0 0 0 tomato;
  color: white;
}

#formBtn {
  margin-top: 1rem;
}

#offersh1 {
  text-transform: uppercase;
  color: tomato;
}

@media only screen and (min-width: 768px) {
  .container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 10px; 
    grid-column-gap: 10px;
  }

}

@media only screen and (min-width: 1000px) {
  .container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 10px; 
    grid-column-gap: 10px;
  }

}