.container {
  display: grid;
  height: 250px;
  width: 100vw;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 125px 125px; */
  grid-row-gap: 10px; 
  grid-column-gap: 10px;
}

.container card {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-style: solid;
  border-color: cadetblue;
  border-radius: 1rem;
}

.car-boy {
  padding: 1rem;
}

a {
  text-decoration: none;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.loginForm form {
  height: 50vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  border-radius: 1rem;
  border-style: solid;
}

.loginForm form h1 {
  padding-bottom: 2rem;
}

label {
  border-radius: 2rem;
}

/* #cardMenuButton {
  display: flex;
  justify-content: end;
} */

.cardTop {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}