{% extends "base.html" %}
{% block content %}

<div class="outer">
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    Edit Profile
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="containerPost">
                        <form method="POST" action="" enctype="multipart/form-data">
                            <div class="form-group">
                                {{form.hidden_tag()}}
                                <h1>Edit {{current_user.restaurantname}} Account Here</h1>
                            </div>
                            <div class="form-group">
                                {{form.firstname.label(class='form-group')}}
                                {{form.firstname(class='form-control form-control-lg')}}
                            </div>
                            <div class="form-group">
                                {{form.lastname.label(class='form-group')}}
                                {{form.lastname(class='form-control form-control-lg')}}
                            </div>
                            <div class="form-group">
                                {{form.restaurantname.label(class='form-group')}}
                                {{form.restaurantname(class='form-control form-control-lg')}}
                            </div>
                            <div class="form-group">
                                {{form.username.label(class='form-group')}}
                                {{form.username(class='form-control form-control-lg')}}
                            </div>
                            <div class="form-group">
                                {{form.email.label(class='form-group')}}
                                {{form.email(class='form-control form-control-lg')}}
                            </div>
                            <div class="form-group" id="formBtn">
                                <button type="submit" class='btn btn-success'>Save</button>
                                <a href="{{url_for('core.index')}}" class="btn btn-outline-danger">Cancel
                                    <a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}