{% extends "base.html" %}
{% block content %}
<div class="containerPost">
  <div class="cardTop">
    <div>
      <span class="color: Moneygreen;">
        <i id="money" class="fa-solid fa-dollar-sign fa-2x">{{post.price}}</i>
      </span>
    </div>
    {% if post.restaurant == current_user %}
    <div id="cardMenuButton">
      <a href="{{ url_for('dish_posts.update', dish_post_id=post.id) }}"><i class="fa-solid fa-pen fa-lg"></i>
      </a>
      <form action="{{ url_for('dish_posts.delete_post', dish_post_id=post.id) }}" method="POST">
        <button id="dtls-btn" type="submit" value="Delete">
          <i class="fa-solid fa-trash-can fa-lg">
          </i>
        </button>
      </form>
    </div>
    {% endif %}
  </div>
  <h1>{{ post.title }}</h1>
  <p>{{post.description}}</p>
  <div id="viewMenu">
    <h6>
      <a href="{{url_for('users.user_posts', restaurantname=post.restaurant.restaurantname)}}">
      View more of:
      </a>
    </h6>
    <p> {{post.restaurant.restaurantname}}</p>
  </div>
  </div>
  {% endblock content %}
