{% extends "base.html" %}
{% block content %}
<!-- <div class="jumbotron">
        <h1>Dishes</h1>
    </div> -->
<div class="container">
    {% for post in dish_posts.items %}
    <div class="card">
        <div class="car-boy1">
            <div class="cardTop">
                <div>
                    <span class="color: Moneygreen;">
                    <i id="money" class="fa-solid fa-dollar-sign fa-lg">{{post.price}}</i>
                </span>
                </div>
                <div id="cardMenuButton">
                    <a href="{{url_for('dish_posts.dish_post', dish_post_id=post.id)}}">
                        <span style="color: dodgerblue;"><i class="fa-solid fa-eye fa-1x"></i></span>
                    </a>
                </div>
            </div>
            <h5>
                {{post.title}}
            </h5>
            <div class="restaurant">
                <p>
                    Restaurant:
                    <a href="{{url_for('users.user_posts', restaurantname=post.restaurant.restaurantname)}}">
                        {{post.restaurant.restaurantname}}</a>
                </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}