{% extends "base.html" %}
{% block content %}
<!-- <div class="jumbotron">
        <h1>Dishes</h1>
    </div> -->
<div class="container">
    {% for post in dish_posts.items %}
    <div class="card">
        <div class="car-boy">
            <div class="cardTop">
                <div>
                    <i class="fa-solid fa-tag"></i>
                </div>
                <div id="cardMenuButton">
                    <i class="fa-solid fa-ellipsis"></i>
                </div>
            </div>
            <h5>
                {{post.title}}
            </h5>
            <a href="{{url_for('users.user_posts', restaurantname=post.restaurant.restaurantname)}}">Served At:
                {{post.restaurant.restaurantname}}</a>
            <a class="btn btn-primary" href="{{url_for('dish_posts.dish_post', dish_post_id=post.id)}}">View Dish
                Details</a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}