{% extends "base.html" %}
{% block content %}
<div class="outer">
    <div class="containerImg">
        <img src="https://res.cloudinary.com/nell1818/image/upload/v1649908424/Untitled_design_13_fsjn8e.png" 
        alt="">
        
    </div>
    <div class="containerPost">
        <h1 id="offersh1">get awesome offers, deals and exclusive savings by the dish.</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit veniam nihil nostrum excepturi nulla error
            quaerat reprehenderit, iste ad accusamus amet nesciunt, provident laborum, voluptas molestias unde non est
            perferendis?</p>
    </div>
</div>

{% endblock %}