{% extends "base.html" %}
{% block content %}
<div class="outer">
<div class="containerPost">
    <form method="POST" enctype="multipart/form-data">
        <div class="form-group">
            {{form.hidden_tag()}}
            <h1>Sign up to create your menu today!</h1>
        </div>
        <div class="form-group">
            {{form.firstname.label(class='form-group')}}
            {{form.firstname(class="form-control form-control-lg")}}
        </div>
        <div class="form-group">
            {{form.lastname.label(class='form-group')}}
            {{form.lastname(class='form-control form-control-lg')}}
        </div>
        <div class="form-group">
            {{form.restaurantname.label(class='form-group')}}
            {{form.restaurantname(class='form-control form-control-lg')}}
        </div>
        <div class="form-group">
            {{form.email.label(class='form-group')}}<br>
            {{form.email(class='form-control form-control-lg')}}
        </div>
        <div class="form-group">
            {{form.username.label(class='form-group')}}
            {{form.username(class='form-control form-control-lg')}}
        </div>
        <div class="form-group">
            {{form.password.label(class='form-group')}}
            {{form.password(class='form-control form-control-lg')}}
        </div>
        <div class="form-group">
            {{form.pass_confirm.label(class='form-group')}}
            {{form.pass_confirm(class='form-control form-control-lg')}}
        </div>
        <div class="form-group">
            <button type="submit" class='btn btn-success form-control-lg'>Sign Up<i class="fa-solid fa-paper-plane"></i></button>
        </div>
    </form>
</div>
</div>
{% endblock %}
