{% extends "base.html" %}
{% block content %}
   
<form method="POST">
    {{form.hidden_tag()}}
    {{form.firstname.label}}{{form.firstname}}<br>
    {{form.lastname.label}}{{form.lastname}}<br>
    {{form.restaurantname.label}}{{form.restaurantname}}<br>
    {{form.email.label}}{{form.email}}<br>
    {{form.username.label}}{{form.username}}<br>
    {{form.password.label}}{{form.password}}<br>
    {{form.pass_confirm.label}}{{form.pass_confirm}}<br>
    {{form.submit()}}
</form>
{% endblock %}